header {
  grid-area: header;
}

main {
  grid-area: main;
  overflow: auto;
}

footer {
  grid-area: footer;
  z-index: 10;
}

@font-face {
  font-family: "harry-potter";
  src: url("../header/NewspaperCutoutWhiteOnBlac-Rg.ttf") format("truetype");
}

@font-face {
  font-family: "harry-potter-news";
  src: url("../header/OldNewspaperTypes.ttf") format("truetype");
}

.App {
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
  grid-auto-columns: 1fr 1fr 1fr;
  grid-template-rows: 110px 1fr 60px;
  height: 100vh;
  background-color: #161616;
  color: #fff;
  font-family: "Raleway", sans-serif;
}
