header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.App {
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
  grid-auto-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr;
  min-height: 100vh;
  background-color: #161616;
  color: #fff;
  font-family: "Raleway", sans-serif;
}
