.section-card {
  background-color: #202020;
  border-radius: 5px;
  margin: 15px;
  min-width: 330px;
}

.card-target {
  -webkit-box-shadow: 0px 0px 25px 0px #72181e;
  box-shadow: 0px 0px 25px 0px #72181e;
}

.section-header {
  background-color: #252525;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  height: 90px;
}

.section-section {
  width: 250px;
}

.section-name-and-house {
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: center;
}

.section-header-title {
  padding: 0px 20px 10px 10px;
  font-size: 0.9rem;
  align-self: center;
  min-width: 150px;
  max-width: 200px;
}

.next-target-button {
  border: none;
  background-color: #303030;
  color: #fff;
  width: 60px;
  height: 90px;
  margin-right: 5px;
}

.target-img {
  padding-top: 2px;
  width: 30px;
  height: 30px;
}

.next-target-button--active {
  -webkit-box-shadow: inset 0px 0px 15px 0px #205e0f;
  box-shadow: inset 0px 0px 15px 0px #205e0f;
}

.gryffindor {
  background-color: #55171b;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.8rem;
  margin-left: 5px;
  width: 100px;
  text-align: center;
}

.ravenclaw {
  background-color: #1a3956;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.8rem;
  margin-left: 5px;
  width: 100px;
  text-align: center;
}

.hufflepuff {
  background-color: #d88304;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.8rem;
  margin-left: 5px;
  width: 100px;
  text-align: center;
}

.slytherin {
  background-color: #205e0f;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.8rem;
  margin-left: 5px;
  width: 100px;
  text-align: center;
}

.expand-more-button {
  background-color: #303030;
  border: none;
  border-radius: 0 5px 5px 0;
}

.expand-less-button {
  background-color: #404040;
  border: none;
  border-radius: 0 5px 0 0;
}

.expand-more-img {
  padding: 4px 0 0 0;
  width: 40px;
}

.section-img {
  width: 70px;
  height: 80px;
  object-fit: cover;
  object-position: 0px 0%;
  border-radius: 5px;
  margin: 5px;
  filter: grayscale(100%);
}

.content-text {
  display: flex;
  justify-content: space-around;
}

.section-content {
  border-radius: 5px;
}

.main-info-list,
.wand-list {
  list-style-type: none;
  padding: 15px;
  font-size: 0.8rem;
}

.content-title {
  padding: 15px 15px 5px 15px;
  font-size: 0.8rem;
}

.emoji {
  padding: 10px 3px 5px 3px;
  text-align: end;
  margin-right: 10px;
}

.emoji-buttons {
  display: flex;
  justify-content: center;
}

.emoji-item {
  width: 25%;
  padding: 5px;
  border: none;
  background: #303030;
  color: #fff;
  -webkit-box-shadow: inset 0px 0px 10px 0px #000;
  box-shadow: inset 0px 0px 10px 0px #000;
}

.emoji-item-border1 {
  border-radius: 0 0 0 5px;
}

.emoji-item-border2 {
  border-radius: 0 0 5px 0;
}

@media screen and (min-width: 500px) {
  .section-card {
    width: 500px;
    position: relative;
    margin: 15px auto;
  }
}
