footer {
  width: 100%;
}

#house-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252525;
  width: 100%;
}

.nav-button-all {
  border: none;
  background-color: #252525;
  color: #fff;
  height: 60px;
  width: 20%;
  -webkit-box-shadow: inset 0px 0px 25px 0px #505050;
  box-shadow: inset 0px 0px 25px 0px #505050;
  font-size: 1.5rem;
  font-family: harry-potter-news, serif;
}

.nav-button-all--active {
  border: none;
  background-color: #505050;
  color: #fff;
  height: 60px;
  width: 20%;
  -webkit-box-shadow: inset 0px 0px 25px 0px #252525;
  box-shadow: inset 0px 0px 25px 0px #252525;
  font-size: 1.5rem;
  font-family: harry-potter-news, serif;
}

.nav-button-gryffindor {
  border: none;
  background-color: #252525;
  color: #fff;
  height: 60px;
  width: 20%;
  -webkit-box-shadow: inset 0px 0px 15px 0px #72181e;
  box-shadow: inset 0px 0px 15px 0px #72181e;
  font-size: 2.5rem;
  font-family: harry-potter-news, serif;
}

.nav-button-gryffindor--active {
  border: none;
  background-color: #72181e;
  color: #fff;
  height: 60px;
  width: 20%;
  -webkit-box-shadow: inset 0px 0px 25px 0px #252525;
  box-shadow: inset 0px 0px 25px 0px #252525;
  font-size: 2.5rem;
  font-family: harry-potter-news, serif;
}
.nav-button-ravenclaw {
  border: none;
  background-color: #252525;
  color: #fff;
  height: 60px;
  width: 20%;
  -webkit-box-shadow: inset 0px 0px 15px 0px #21486d;
  box-shadow: inset 0px 0px 15px 0px #21486d;
  font-size: 2.5rem;
  font-family: harry-potter-news, serif;
}

.nav-button-ravenclaw--active {
  border: none;
  background-color: #21486d;
  color: #fff;
  height: 60px;
  width: 20%;
  -webkit-box-shadow: inset 0px 0px 25px 0px #252525;
  box-shadow: inset 0px 0px 25px 0px #252525;
  font-size: 2.5rem;
  font-family: harry-potter-news, serif;
}

.nav-button-hufflepuff {
  border: none;
  background-color: #252525;
  color: #fff;
  height: 60px;
  width: 20%;
  -webkit-box-shadow: inset 0px 0px 15px 0px #8f5704;
  box-shadow: inset 0px 0px 15px 0px #8f5704;
  font-size: 2.5rem;
  font-family: harry-potter-news, serif;
}

.nav-button-hufflepuff--active {
  border: none;
  background-color: #8f5704;
  color: #fff;
  height: 60px;
  width: 20%;
  -webkit-box-shadow: inset 0px 0px 25px 0px #252525;
  box-shadow: inset 0px 0px 25px 0px #252525;
  font-size: 2.5rem;
  font-family: harry-potter-news, serif;
}

.nav-button-slytherin {
  border: none;
  background-color: #252525;
  color: #fff;
  height: 60px;
  width: 20%;
  -webkit-box-shadow: inset 0px 0px 15px 0px #205e0f;
  box-shadow: inset 0px 0px 15px 0px #205e0f;
  font-size: 1.5rem;
  font-family: harry-potter-news, serif;
}

.nav-button-slytherin--active {
  border: none;
  background-color: #205e0f;
  color: #fff;
  height: 60px;
  width: 20%;
  -webkit-box-shadow: inset 0px 0px 25px 0px #252525;
  box-shadow: inset 0px 0px 25px 0px #252525;
  font-size: 1.5rem;
  font-family: harry-potter-news, serif;
  text-orientation: mixed;
}

.nav-button-nohouse {
  border: none;
  background-color: #252525;
  color: #fff;
  height: 60px;
  width: 20%;
  -webkit-box-shadow: inset 0px 0px 25px 0px #505050;
  box-shadow: inset 0px 0px 25px 0px #505050;
  font-size: 1.5rem;
  font-family: harry-potter-news, serif;
}

.nav-button-nohouse--active {
  border: none;
  background-color: #505050;
  color: #fff;
  height: 60px;
  width: 20%;
  -webkit-box-shadow: inset 0px 0px 25px 0px #252525;
  box-shadow: inset 0px 0px 25px 0px #252525;
  font-size: 1.5rem;
  font-family: harry-potter-news, serif;
}
