HTML {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* @media screen and (min-width: 500px) {
  main {
    width: 500px;
    position: relative;
    margin: 0 auto;
  }
} */
